{% extends "_master.html" %}

{% block content %}
<form method="post">
    {% if post %}<input type="hidden" value="{{ post.key.id() }}" name="post_id" />{% endif %}

    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title"
               value="{% if post %}{{ post.post_title }}{% endif %}"
               class="form-control required" >
    </div>
    <div class="form-group">
        <label for="content">Post:</label>
        <textarea name="content" class="form-control" placeholder="Blog Post"
                  rows="8">{% if post %}{{ post.post_content | safe}}{% endif %}</textarea>
    </div>
    <div class="input">
        <input type="submit" value="Submit">
        {% if post %}
        <a class="edit" href="/post/{{ post.key.id() }}">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
