{% extends "_master.html" %}

{% block content %}
    {% for p in posts %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="post-title">
                <a href="post/{{ p.key.id() }}">{{ p.post_title }}</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="post-hr">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                {{ p.post_content | safe}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-left">
                Created: {{ p.post_created.strftime("%b %d, %Y") }}
            </h5>
        </div>
        <div class="col-md-6">
            <h5 class="text-right">
                Author: {{ p.post_author }}
            </h5>
        </div>
    </div>
    {% endfor %}
{% endblock %}