{% extends "_master.html" %}

{% block content %}

<div>
  <h2 class="post-title">
      {{ post.post_title }}
  </h2>
</div>
{% if post.post_author == user.user_name %}

<form action="\delete" method="post">
    <input type="hidden" value="{{ post.key.id() }}" name="postid">
    <div  class="text-right">
        <a class = "edit" href="/editpost/{{ post.key.id() }}">Edit Post</a>
        <br>
        <input type="submit" value="Delete">
    </div>
</form>

{% else %}
{% if user %}
<div class="text-right">
    <a href="/addlike/{{ post.key.id() }}" class="edit">like</a>
</div>
{% endif %}
{% endif %}
<div>
  <p>
      {{ post.post_content | safe}}
  </p>
</div>

<hr>
<p> Comments: </p>

{% for c in comments %}

  <span class=" text-right">
    Author: {{ c.comment_author }}
  </span>
  <div>
    <p>
        {{ c.comment_text }}
    </p>
  </div>
  {% if c.comment_author == user.user_name %}
    <div>
      <form action="/deletecomment" method="post">
          <input type="hidden" value="{{ c.key.id() }}" name="comment_id" />
          <input type="submit" value="Delete">
      </form>
      <form action="/editcomment" method="get">
        <a href="/editcomment/{{ c.key.id() }}">Edit</a>
      </form>
      <!-- <form action="/editcomment">
          <input type="hidden" value="{{ post.key.id() }}" name="post_id" />
          <input type = "hidden" value ="{{c.comment_text}}" name="content" />
          <input type="submit" value="Edit">
      </form> -->

    </div>
  {% endif %}
{% endfor %}

{% if user %}
<div>
  <form method="post" action="\addcomment">
    <div>
        <input type="hidden" value="{{ post.key.id() }}" name="post_id" />
        <label for="content">comment:</label>
        <textarea name="content" placeholder="comment"></textarea>
    </div>

    <div>
        <input type="submit" class="edit" value="Submit">
    </div>

  </form>
</div>
{% endif %}
{% endblock %}
