{% extends "_master.html" %}

{% block content %}

<div>
  <h2 class="post-title">
      {{ post.post_title }}
  </h2>
</div>
<div>
  <p>
      {{ post.post_content | safe}}
  </p>
</div>
{% if post.post_author == user.user_name %}

<form action="\delete" method="post">
    <input type="hidden" value="{{ post.key.id() }}" name="postid">
    <div>
        <a class = "edit" href="/editpost/{{ post.key.id() }}">Edit Post</a>
        <br>
        <input type="submit" value="Delete">
    </div>
</form>

{% else %}
{% if user %}
<div class="text-right">
    <a href="/addlike/{{ post.key.id() }}" class="edit">like</a>
</div>
{% endif %}
{% endif %}


<hr>
<h2> Comments: </h2>

{% for c in comments %}
  <div>
    <h3>
        {{ c.comment_text }}
    </h3>
  </div>
  <span class="text-right">
    Author: {{ c.comment_author }}
  </span>
  {% if c.comment_author == user.user_name %}
    <div>
      <form action="/deletecomment" method="post">
          <input type="hidden" value="{{ c.key.id() }}" name="comment_id" />
          <input type="submit" value="Delete">
      </form>
      <form action="/editcomment" method="get">
        <a href="/editcomment/{{post.key.id()}}/{{ c.key.id() }}">Edit Comment</a>
      </form>

    </div>
  {% endif %}
{% endfor %}
<hr>
<hr>
{% if user %}
<div>
  <form method="post" action="\addcomment">
    <div>
        <input type="hidden" value="{{ post.key.id() }}" name="post_id" />
        <textarea name="content" placeholder="Add Comment"></textarea>
    </div>

    <div>
        <input type="submit" class="edit" value="Submit">
    </div>

  </form>
</div>
{% endif %}
{% endblock %}
