{% extends "base.html" %}
{% block content %}
  <h2>About Anthony Fumagalli</h2>
  <h3>@roastedTofu @theSmokingRooster</h3>
  <h3>Full stack developer, educator, technology enthusiast</h3>
  <article>
  	<p>Hey visitor, welcome to my personal site. I'm a full-stack developer based in San Francisco, CA - born and raised in San Diego, CA. I've also spent time working and studying in New Haven, New Orleans, Istanbul, and Mombasa. This site is a side project of mine that I hope to evolve and develop over time into a showcase of my work and experiences. It's still very much in development so be kind!</p>
  	<p>On the site now you'll find a portfolio of some of my full-stack projects and a blog where I'll be posting on various topics. You can also sign up for an account which allows you to comment on and like my blog posts. If you have any ideas or suggestions for this site please feel free to leave a comment or drop me a line at anthony.fumagalli@gmail.com</p>
  </article>
{% endblock %}
