<!DOCTYPE html>
<html>
<head>
  <title>The Smoking Rooster</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
</head>
<body>
  <a href="/" class="main-title">The Smoking Rooster</a>
  <a href="http://twitter.com/roastedTofu" class="sub-title">@roastedTofu</a>
  <ul class="navigation">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/portfolio">Portfolio</a></li>
    <li class="nav-item"><a href="/blog">Blog</a></li>
    <li class="nav-item" style="float: right; color: #333;"><a style="color: #333;" href="/rot13">?</a></li>
  </ul>
  <div class="login-area">
    {% if user %}
      {{ user.username }} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
