{% extends "base.html" %}
{% block content %}
  {% for project in projects %}
    <h2>{{ project.title }}</h2>
    <h3><a href="{{ project.link }}">{{ project.link }}</a></h3>
    <article>{{ project.description | safe }}</article>
    {% if user.email == "anthony.fumagalli@gmail.com" %}
      <div class="author-options">
        <a href="/portfolio/edit?project={{ project.key.id() }}">Edit</a>
        <a href="/portfolio/delete?project={{ project.key.id() }}">Delete</a>
      </div>
    {% endif %}
    <a href="/portfolio/{{ project.key.id() }}">Read more</a>
    <br>
  {% endfor %}
  <br>
  {% if user.email == "anthony.fumagalli@gmail.com" %}
    <a href="/portfolio/newproject">Create new project</a>
  {% endif %}
{% endblock %}
